<h1>{{title}}</h1>
<form [formGroup]="heroForm" *ngIf="active" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="name">Name</label>
        <input 
            type="text"
            id="name"
            class="form-control"
            formControlName="name"
            required>
                    <!-- the validation attributes are gone (except required)            because we'll be validating in code.

                         required remains, not for validation purposes (we'll cover that in the code), but rather for css styling and accessibility.

                         the formControlName replaces the name attribute; it serves the same purpose of correlating the input box with the Angular form control.

                         the two-way [(ngModel)] binding is gone. The reactive approach does not use data binding to move data into and out of the form controls. We do that in code.

                         the formControlName replaces the name attribute; it serves the same purpose of correlating the input box with the Angular form control.

                         the two-way [(ngModel)] binding is gone. The reactive approach does not use data binding to move data into and out of the form controls. We do that in code.
                     -->

        <div *ngIf="formErrors.name" class="alert alert-danger">
            {{ formErrors.name }}
        </div>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input 
            ngModel
            name="password"
            #password="ngModel" 
            id="password" 
            type="password" 
            class="form-control input-line" 
            required>
        <div 
            class="alert alert-danger" 
            *ngIf="password.touched && !password.valid">
            Password is required.
        </div>
    </div>
    
    <button class="btn btn-primary" type="submit"(click)="signup()"[disabled]="!f.valid">Subscribe</button>
</form>