<form 
   [formGroup]="myForm" 
   novalidate 

   (ngSubmit)="save(myForm.value, myForm.valid)">
                        <!-- [formGroup]="myForm"  binds formGroup to the myForm property defined
                                 in the app.component.ts
                              novalidate disables the builtin validation of HTML5 
                              (ngSubmit)="save(myForm.value, myForm.valid) need to augment the 
                                 native submit with ngSubmit and event binding.
                              #myForm="ngForm" local variable representing th 
                        -->


   <!-- add controls here -->
   
   <div><label>Name</label>
      <input type="text" formControlName="name">
      <small [hidden]="myForm.controls.name.valid ||                          (myForm.controls.name.pristine && !submitted)">
         Name is required (minimum of 5 characters))
      </small>
   </div>
   <div formGroupName="address">
      <label>Address</label>
      <input type="text" formControlName="street">
                        <!-- street is a FormControl defined in the component.ts, it's key is street 
                              Here it is being assigned to thr formControlName directive. This 
                              directive:
                                  "Syncs a FormControl in an existing FormGroup to a form control element by name.
                                  
                                  In other words, this directive ensures that any values written to the FormControl instance programmatically will be written to the DOM element (model -> view). Conversely, any values written to the DOM element through user input will be reflected in the FormControl instance (view -> model).
                                  
                                  This directive is designed to be used with a parent FormGroupDirective (selector: [formGroup])" 
                        -->
                        
      <small [hidden]="myForm.controls.address.controls.street.valid || (myForm.controls.address.controls.street.pristine && !submitted)">
        street required
      </small><br>
   
      <label>Postcode</label>
      <input type="text" formControlName="postcode">
   </div>
   <button type="submit">Submit</button>
</form>