<form 
   [formGroup]="myForm" 
   novalidate 

   (ngSubmit)="save(myForm.value, myForm.valid)">
                        <!-- [formGroup]="myForm"  binds formGroup to the myForm property defined
                                 in the app.component.ts
                              novalidate disables the builtin validation of HTML5 
                              (ngSubmit)="save(myForm.value, myForm.valid) need to augment the 
                                 native submit with ngSubmit and event binding.
                              #myForm="ngForm" local variable representing th 
                        -->


   <!-- add controls here -->
   <div><label>Name</label>
      <input type="text" formControlName="name">
      <small [hidden]="myForm.controls.name.valid ||                          (myForm.controls.name.pristine && !submitted)">
         Name is required (minimum of 5 characters))
      </small>
   </div>
   <div formGroupName="address">
      <label>Address</label>
      <input type="text" formControlName="street">
      <small [hidden]="myForm.controls.address.controls.street.valid || (myForm.controls.address.controls.street.pristine && !submitted)">
        street required
      </small>
   </div>
   <div formGroupName="address">
      <label>Postcode</label>
      <input type="text" formControlName="postcode">
   </div>
   <button type="submit">Submit</button>
</form>